page-shipping {
    .scroll-content{
        overflow-y: hidden;
    }
    .productName{
        margin: 0%;
        font-size: 18px;
        font-family: 'Graphik Medium';
        color: black;
    }
    .userName{
        font-size: 14px;
        font-family: 'Graphik Regular';
        color: gray;
        margin: 0%;
    }

}
