page-edit-profile {
    .input{
        padding: 10px;
        border: solid black 1px;
        border-radius: 10px;

    }
    .text-input{
        color: black;
        margin: 0%;
    }
    .text-input::placeholder{
        color: gray;
    }
}
