page-make-offer {

    .title{
        font-family: 'Graphik Medium';
        color: black;
        font-size: 20px;
        margin: 0%;
    }

    .amount{
        font-family: 'Graphik Medium';
        color: color($colors, appBlue);
        font-size: 18px;
        margin: 5px;
        text-align: center;
    }

    .anotation{
        font-family: 'Graphik Regular';
        color: gray;
        font-size: 12px;
    }

    .input{
        padding: 10px;
        border: solid black 1px;
        border-radius: 10px;
        width: 70%;
        margin-left: 15%;
    }
    .text-input{
        color: black;
        margin: 0%;
    }
    .text-input::placeholder{
        color: gray;
    }

}
