
<ion-header>

  <ion-navbar>
    <ion-searchbar placeholder="Buscar producto" (ionInput)="onInput($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col no-padding col-6 *ngFor="let product of filterList">
          <ion-card class="pin" (click)="cardDetails(product)">
            <ion-slides pager>
                <ion-slide *ngFor="let image of product.images">
                    <img [src]="image">
                </ion-slide>
                </ion-slides>
            <div class="product-description">
                <p>{{ product.name }}</p>
                <p class="price">{{product.amount}} €</p>
              </div>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
      <button ion-fab (click)="newProduct()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>

</ion-content>
