<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="step == 1">
  <p class="title">Registro</p>
  <ion-grid>
    <ion-input placeholder="Email"></ion-input>
    <ion-input placeholder="Contraseña"></ion-input>
    <ion-input placeholder="Repetir Contraseña"></ion-input>
    <ion-input placeholder="Nombre"></ion-input>
    <ion-input placeholder="Apellidos"></ion-input>
    <ion-input placeholder="Teléfono"></ion-input>
  </ion-grid>

  <ion-fab bottom right style="padding: 5%" (click)="next()">
    <ion-icon style="font-size: 40px; background-color: rgb(2, 179, 81)" ion-fab name="ios-arrow-forward"></ion-icon>
  </ion-fab>
</ion-content>

<ion-content padding *ngIf="step == 2">
  <p class="title">Información para envíos</p>
  <p class="subtitle">Algunos datos más para poder realizar pedidos y envíos</p>
  <ion-grid>
    <ion-input id="direction" placeholder="Dirección"></ion-input>
  </ion-grid>

</ion-content>