page-register {
    ion-content{
        background-image: linear-gradient(-45deg, rgb(0, 0, 0), rgb(179, 179, 179));
        .scroll-content{
            overflow-y: hidden;
        }
    }

    .header{
        .toolbar{
            .toolbar-background{
                background-color: transparent;
                border: none;
            }
            .back-button{
                .button-inner{
                    .back-button-icon{
                        color: white;
                    }
                    .back-button-text{
                        display: none;
                    }
                }
            }
        }
    }

    .defaultButton{
        background-color: color($colors, appGreen);
        border-radius: 5px;
        height: 35px;
        margin-bottom: 5%;
    }

    .title{
        text-align: center;
        color: white;
        font-size: 30px;
        margin: 0%;
        margin-bottom: 5%;
    }

}
